aiodns==4.0.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
asgiref==3.11.1
attrs==26.1.0
ccxt==4.5.51
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
coincurve==21.0.0
cryptography==47.0.0
dj-database-url==3.1.2
Django==6.0.3
frozenlist==1.8.0
gunicorn==26.0.0
idna==3.11
multidict==6.7.1
numpy==2.4.4
packaging==26.2
pandas==3.0.2
patsy==1.0.2
propcache==0.4.1
psutil==7.2.2
psycopg2-binary==2.9.12
pycares==5.0.1
pycparser==3.0
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.33.1
scipy==1.17.1
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
statsmodels==0.14.6
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
whitenoise==6.12.0
yarl==1.23.0
